{% extends "blog/base.html" %}

{% block title %}записи{% endblock %}

{% block main %}
<main class="glav">
    <section class="posts">
        <h2 class="posts__title">Записи<span class="cursor"></span></h2>
        <!-- Карточка записи -->
        {% for post in page_obj %}
        <article class="post-card">
            <h3 class="post-card__title">{{ post.title }}</h3>
            <p class="post-card__date">{{ post.created_date|date:"d.m.y H:i" }}</p>
            <p class="post-card__text">{{ post.text|truncatewords:30 }}</p>
            <a class="post-card__link" href="{% url 'post_detail' post.id %}">Читать далее</a>
        </article>
        {% empty %}
            <p>Записей пока нет.</p>
        {% endfor %}
    </section>


    {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            
            <!-- Кнопка "Назад" -->
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; Назад</a>
            {% endif %}

            <!-- Список номеров страниц -->
            {% for item in page_window %}
                {% if item == "…" %}
                    <span class="pagination__gap">…</span>
                {% elif item == page_obj.number %}
                    <span class="current-page">{{ item }}</span>
                {% else %}
                    <a href="?page={{ item }}">{{ item }}</a>
                {% endif %}
            {% endfor %}

            <!-- Кнопка "Вперед" -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Вперед &raquo;</a>
            {% endif %}

        </div>
    {% endif %}
</main>
{% endblock %}
