{% extends "blog/base.html"%}

{% block title %} Последние посты {% endblock %}


{% block main %}
<main class="glav">
    <section class="posts">
        <h2 class="posts__title">Новые Записи<span class="cursor"></span></h2>
        {% for post in posts%}
        <article class="post-card">

            <h3 class="post-card__title">{{ post.title }}</h3>

            <p class="post-card__date">{{ post.created_date|date:"d.m.y H:i" }}</p>
            <p class="post-card__text">{{ post.text|truncatewords:30 }}</p>
            <a class="post-card__link" href="{% url 'post_detail' post.id %}">Читать далее</a>
        </article>
        {% endfor %}
    </section>
</main>
{% endblock %}